body{
    background-color: lightgoldenrodyellow;
    /* display: flex; */
    margin: 40px;
}

.first{
    height: 100px;
    width: 100px;
    background-color: lightgreen;
}

.second{
    height: 100px;
    width: 100px;
    background-color: lightblue;
}

.active{
    /* display: none; */
    background-color: red;
}